name: "Validate"

on:
  push:
    branches:
      - "main"
      - "feat**"
    tags-ignore:
      - "**"
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate-hassfest:
    runs-on: ubuntu-latest
    name: "Hassfest"
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@v2

      - name: "Validate Hassfest"
        uses: home-assistant/actions/hassfest@master

  validate-hacs:
    runs-on: ubuntu-latest
    name: "HACS"
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@v2

      - name: "Validate HACS"
        uses: hacs/action@main
        with:
          category: integration
          ignore: brands
